body{
    background-image:url(../../assets/Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
a{
    text-decoration: none;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 17px;
    padding: 1em 2.7em;
    font-weight: 500;
    background: #1F2937;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
}
.disabled{
    display: none;
}